* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

a, .nav-ulist__page{

    text-decoration: none;
    display:inline;
    color: #222;

}

header { 
    width: 100%;
    height:7.50em;
    display:grid;
    grid-template-rows:1fr 1fr;

}

/* Firts spoty */

header .header-icons-container {

    width:100%; 
    height:3.70em;
    display:grid;
    background-color: #009344;

}

/*header .header-icons-container .whatsapp-mess {
    width:1em;
    display: flex;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;

}*/

header .header-icons-container .icons {

    width:auto;
    height: auto;
    display:flex;
    align-items:center;
    justify-items:flex-end; 
    justify-content: space-between;
    justify-self:end;   
    margin-right:0.56em;
    color:#fff;
}


nav {
    display:grid;
    grid-template-columns:1fr 1fr;
    height:3.89em;
    background-color: #cd2020;
}

nav .nav-logo-container{
    width:12em;
    margin-top:1.4em;
    

}

nav .nav-ulist {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

nav .nav-ulist a {
    margin-right: 3.4em;
    font-weight: 700;
    text-decoration-line: underline;
}

